<%- include("partials/header") -%> 




 <% postsArray.forEach((item)=>{ %>
    <h3><%= item.title %></h3>
    <p><%= item.postbody %></p>
 <% });%>




  

  <%- include("partials/footer") -%>
</postArray.length;>
